  <div> <h1>Welcome to Youtube-record!</h1> </div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <button type=button id="sendMore" onclick="displayShareDiv()"> Send to more friends!</button>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>

<div id="sendInvites">
<h2> Share with your friends!</h2>
 Enter email addresses separated by commas:
<input type="textbox" name="invites" id="invites">
<button type="button" onclick="sendInvites()">Send! </button> <br>
Or simply share this URL: <a id="shareLink"></a>
</div>

<div id="playVideo">
Video URL: <input type="text" name="url" id="url">
<button type="button" onclick="urlAdded()"> Upload! </button>
</div>

<div id="reactions"></div>