  <div>Welcome to you-tube record! </div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>

  <div id="webcam_stream"></div>
  <div id="video_container"></div>

<div id="playVideo">

Video URL: <input type="text" name="url" id="url">
<button type="button" onclick="urlAdded()"> Upload! </button>
</div>

<div id="reactions"></div>