  <div> 
  	<h1 id="title">Welcome to Youtube-record!</h1>
  	<p id="owner_guide"> Watch your friends' reactions to a video! </p>
  	<p id="friend_guide"> Your friend wants to see your reaction to this video. Press play to watch it and show him what you think! </p>
  </div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <button type=button id="sendMore" onclick="displayShareDiv()"> Send to more friends!</button>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>

<div id="sendInvites">
<h2> Share with your friends!</h2>
</div>

<div id="playVideo">
Enter a video URL to share: <input type="text" name="url" id="url">
<button type="button" onclick="urlAdded()"> Upload! </button>
</div>

<div id="reactions"></div>